.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px);
  &__logo {
    height: 50px;
    margin-bottom: 30px;
  }
  &__error {
    height: 40px;
    margin-bottom: 15px;
  }
  h1 {
    margin-bottom: 45px;
  }
  button.ant-btn {
    width: 100%;
  }
  .ant-form-item-label label {
    font-size: 16px;
  }
}
