.dashboard {
  height: 100%;
  &__header {
    h1 {
      margin: 0px;
    }
    margin-bottom: 30px;
  }
  &__tag.ant-tag {
    margin-left: 5px;
  }
  &__filter-dropdown {
    padding: 15px;
    .ant-space-item {
      margin-top: 10px;
    }
  }
}
